@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
  background-color: #000000;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fh52u {
  background-color: #121211;
}

.fs521 {
  color: #949494;
}

.gwe62 {
  background-color: #1a1a1a;
}

.g327 {
  border-color: #302f30;
}

.imgd {
  -webkit-filter: brightness(100%);
}

.imgd:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sdt1.sdt {
  background: #50e3c2;
}

.sdt1 {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 5px;
}

.plc2 {
  padding-left: 0.40rem;
}

.swb {
  word-wrap: break-word; 
  white-space: pre-wrap;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(36, 35, 35);
}